// Button

@use '../abstracts/abstracts.scss' as *;

// Default Theme - Button in white, text in black (with shadow)
.cta {
    // Setup
    font-family: $sans-serif;
    font-weight: $extrabold;
    font-size: 1.375rem;
    text-decoration: none;
    padding: 1.125rem 2rem;
    border-radius: 1.5rem;
    display: inline-block;
    cursor: pointer;
    // Default styles`
    color: rgba(37,37,37,1.00);
    background: rgba(255,255,255,1.00);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.12);
    border: 4px solid transparent;
}
.cta:hover {
    background: rgba(255,255,255,1.00);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
    transform: scale(0.92);
}
.cta:active {
    color: rgba(37,37,37,0.60);
    background: rgba(255,255,255,0.80);
    box-shadow: unset;
}
.cta:focus {
    border: 4px solid $color-bleu;
}
.cta:disabled {
    color: rgba(0,0,0,0.50);
    background: rgba(51,51,51,0.25);
}

// * Button themes
// Primary Theme - Button in black, text in white
.cta-primary {
    color: rgba(255,255,255,1.00);
    background: rgba(0,0,0,1.00);
    box-shadow: unset;
}
.cta-primary:hover {
    background: rgba(51,51,51,1.00);
    transform: scale(0.92);
}
.cta-primary:active {
    color: rgba(255,255,255,0.80);
    background: rgba(51,51,51,0.80);
}
// Secondary Theme - Button in light gray, text in black
.cta-secondary {
    color: rgba(0,0,0,1.00);
    background: rgba(248,248,248,1.00);
    box-shadow: unset;
}
.cta-secondary:hover {
    background: rgba(233,233,233,1.00);
    transform: scale(0.92);
}
.cta-secondary:active {
    color: rgba(37,37,37,0.80);
    background: rgba(233,233,233,0.80);
}
.cta-disabled {
    background: unset;
    color: rgba(37,37,37,0.50);
    border: 2px solid rgba(37,37,37,0.25);
    box-shadow: unset;
}
.cta-disabled:hover, .cta-disabled:active {
    color: rgba(37,37,37,0.50);
    background: unset;
    box-shadow: unset;
    transform: scale(1);
    cursor: default;
}

// * Button animations
.cta, .cta:hover, .cta:active, .cta:focus,
.cta-primary, .cta-primary:hover, .cta-primary:active, .cta-primary:focus,
.cta-secondary, .cta-secondary:hover, .cta-secondary:active, .cta-secondary:focus {
    -webkit-transition: $transition--500ms;
    -moz-transition: $transition--500ms;
    -ms-transition: $transition--500ms;
    -o-transition: $transition--500ms;
    transition: $transition--500ms;
}

// * Button modifiers
.cta-small {
    font-family: $sans-serif;
    font-weight: $extrabold;
    font-size: 1.125rem;
    text-decoration: none;
    padding: .875rem 1.5rem;
    border-radius: 100px; 
}
.icon--external::after {
    margin-left: 12px;
    font-weight: $extrabold;
    content: "\2197";
}
.icon--circ-arrow::after {
    margin-left: 12px;
    font-weight: $extrabold;
    content: "\f35a";
}
.icon--menu::before {
    margin-left: 12px;
    font-weight: $extrabold;
    content: "\f0c9";
}