// Button

@use '../abstracts/abstracts.scss' as *;

.btn-s {
    cursor: pointer;
    border: 0px;
    font-size: $size-16;
    font-weight: $extrabold;
    background: $color-bleu--dim;
    color: $color-gris--mid;
    text-decoration: none;
    padding: .75rem 1.25rem .8125rem 1.25rem;
}
.btn-s:hover {
    background: $color-bleu;
    color: $color-white;
}
.btn-s:active {
    background: $color-bleu--dim;
    color: $color-gray--dim;
}


// * Large button
button.btn-l {
    cursor: pointer;
    background: unset;
    color: $color-gris--mid;
    font-size: $size-22;
    font-weight: $extrabold;
    letter-spacing: -0.88px;
    padding: 16px 22px 18px 22px;
    border: 2px solid $color-gris--dim;
    border-radius: 24px;
}
    // State: Hover
    button.btn-l:hover {
        color: $color-gris;
        background: rgba(255, 255, 255, 0.05);
        border: 2px solid $color-gris;
    }
    // State: Active
    button.btn-l:active {
        color: $color-gris--base;
        background: none;
        border: 2px solid $color-gris--base;
    }

// * Variation: Primary
button.btn--primary {
    background-color: $color-rouge;
    border: 2px solid $color-rouge--mid;
    color: $color-gris;
    letter-spacing: -0.88px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.20);
}
    // State: Hover
    button.btn--primary:hover {
        color: $color-gris;
        background: $color-rouge--mid;
        border: 2px solid $color-rouge--dim;
    }
    // State: Active
    button.btn--primary:active {
        color: $color-gris--base;
        background: $color-rouge--base;
        border: 2px solid $color-rouge--base;
    }

// * Variation: Tertiary
button.btn--tertiary {
    background-color: $color-gris;
    border: 2px solid $color-gris--mid;
    color: $color-rouge--dim;
    letter-spacing: -0.88px;
}
    // State: Hover
    button.btn--tertiary:hover {
        color: $color-rouge--dim;
        background-color: $color-gris--mid;
        border: 2px solid $color-gris--dim;
    }
    // State: Active
    button.btn--tertiary:active {
        color: $color-black;
        background-color: $color-gris--base;
        border: 2px solid $color-gris--base;
    }

// * Modifiers
.icon--external::after {
    margin-left: 12px;
    font-weight: $extrabold;
    content: "\2197";
}
.icon--circ-arrow::after {
    margin-left: 12px;
    font-weight: $extrabold;
    content: "\f35a";
}

// * Animation & Transitions
button.btn-s, button.btn-l, button.btn--primary, button.btn--secondary, button.btn--tertiary {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;    
}
button.btn-s:hover, button.btn-l:hover, button.btn--primary:hover, button.btn--secondary:hover, button.btn--tertiary:hover,
button.btn-s:focus, button.btn-l:focus, button.btn--primary:focus, button.btn--secondary:focus, button.btn--tertiary:focus,
button.btn-s:active, button.btn-l:active, button.btn--primary:active, button.btn--secondary:active, button.btn--tertiary:active {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}