// Card

@use '../abstracts/abstracts.scss' as *;


.work-item {
    background-color: $color-bleu--dim !important;
    border: 1px solid $color-bleu--dim;
}
.work--detail {
    position: absolute;
    z-index: 100;
    display: inline-block;
    bottom: 0px;
    left: $space--40;
}
.work--detail p {
    font-family: $sans-serif;
}