// Grid (Portfolio)

// Imports
@use '../abstracts/abstracts.scss' as *;

:root {
  --content-size: height: fit-content;
}

// * General Grid
.general-grid {
  // Item Setup
  .grid-item-1, 
  .grid-item-2, 
  .grid-item-3, 
  .grid-item-4, 
  .grid-item-5, 
  .grid-item-6 {
    // background: rgba(0,0,0,1.00);
    overflow: hidden;
    border-radius: 1.5rem;
    align-self: end;
  }
  .grid-item-text {
    display: flex;
    padding: 2.5rem;
    background: unset;
    align-self: center;
    overflow: visible;
    h1, h1, h3, h4, h5, h6 {
      margin-bottom: 1.5rem;
    }
  }
  // Mosaic: R1: Sq Sq Rec, R2: Rec Sq Sq
  .grid-style--mosiac {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    .grid-item-1 { grid-area: 1 / 1 / 3 / 2; } // Square or 3:4 
    .grid-item-2 { grid-area: 1 / 2 / 3 / 3; } // Square or 3:4 
    .grid-item-3 { grid-area: 1 / 3 / 3 / 5; } // Square or 3:4
    .grid-item-4 { grid-area: 3 / 1 / 5 / 3; } // Square or 3:4
    .grid-item-5 { grid-area: 3 / 3 / 5 / 4; } // Rectangle
    .grid-item-6 { grid-area: 3 / 4 / 5 / 5; } // Rectangle
  }
  // Mosaic Feature: 4 Sm Sq and 1 Lg Sq
  .grid-style--mosiac-feature {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    .grid-item-1 { grid-area: 1 / 1 / 2 / 2; } 
    .grid-item-2 { grid-area: 1 / 2 / 2 / 3; } 
    .grid-item-3 { grid-area: 2 / 1 / 3 / 2; } 
    .grid-item-4 { grid-area: 2 / 2 / 3 / 3; } 
    .grid-item-5 { grid-area: 1 / 3 / 3 / 5; } 
  }
  // Mosaic Feature (Reversed): 1 Lg Sq and 4 Sm Sq 
  .grid-style--mosiac-feature-reverse {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 8px;
    grid-row-gap: 8px; 
    .grid-item-1 { grid-area: 1 / 1 / 3 / 3; } 
    .grid-item-2 { grid-area: 1 / 3 / 2 / 4; } 
    .grid-item-3 { grid-area: 1 / 4 / 2 / 5; } 
    .grid-item-4 { grid-area: 2 / 3 / 3 / 4; } 
    .grid-item-5 { grid-area: 2 / 4 / 3 / 5; }
  }
  // Bilateral: 2 Lg Sq 
  .grid-style--bilateral, .grid-style--bilateral-reverse  {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    .grid-item-1 { grid-area: 1 / 1 / 3 / 3; }  // Square or 3:4 or Text
    .grid-item-2 { grid-area: 1 / 3 / 3 / 5; }  // Square or 3:4 or Text
  }
  // Trilateral: 3 Sm Sq
  .grid-style--trilateral {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    .grid-item-1 { grid-area: 1 / 1 / 2 / 2; } // Square
    .grid-item-2 { grid-area: 1 / 2 / 2 / 3; } // Square
    .grid-item-3 { grid-area: 1 / 3 / 2 / 4; } // Square
  }
}

// * Landscape Feature Image
.grid-image--landscape {
  width: 100%;
  overflow: hidden;
}
.grid-image--landscape:before {
  content: '';
  float:left;
  padding-top: 60%;
}

// * Portrait Feature Image
.grid-image--portrait {
  width: 100%;
  overflow: hidden;
}
.grid-image--portrait:before {
  content: '';
  float:left;
  padding-top: 150%;
}

// * Responsive behavior
@media screen and (max-width: $breakpoint--medium-max) and (min-width: $breakpoint--small-min) {
  .general-grid {
    .grid-item-text {
      padding: 0rem;
      border-radius: 0rem;
      align-self: start;
      padding: .5rem 1rem 5rem 1rem;
      h1, h1, h3, h4, h5, h6 {
        margin: 1.5rem 0rem 1rem 0rem;
      }
    }
    .grid-style--mosiac {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(4, 1fr); 
      grid-column-gap: 8px;
      grid-row-gap: 8px; 
      .grid-item-1 { grid-area: 1 / 1 / 2 / 2; } 
      .grid-item-2 { grid-area: 1 / 2 / 2 / 3; } 
      .grid-item-3 { grid-area: 2 / 1 / 3 / 3; } 
      .grid-item-4 { grid-area: 3 / 1 / 4 / 3; } 
      .grid-item-5 { grid-area: 4 / 1 / 5 / 2; } 
      .grid-item-6 { grid-area: 4 / 2 / 5 / 3; } 
    }
    .grid-style--mosiac-feature {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr) var(--content-size);
      grid-column-gap: 8px;
      grid-row-gap: 8px; 
      .grid-item-1 { grid-area: 1 / 1 / 2 / 2; } 
      .grid-item-2 { grid-area: 1 / 2 / 2 / 3; } 
      .grid-item-3 { grid-area: 2 / 1 / 3 / 2; } 
      .grid-item-4 { grid-area: 2 / 2 / 3 / 3; } 
      .grid-item-5 { grid-area: 3 / 1 / 4 / 3; }       
    }
    .grid-style--mosiac-feature-reverse {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr) var(--content-size);
      grid-column-gap: 8px;
      grid-row-gap: 8px; 
      .grid-item-1 { grid-area: 3 / 1 / 4 / 3; } 
      .grid-item-2 { grid-area: 1 / 1 / 2 / 2; } 
      .grid-item-3 { grid-area: 1 / 2 / 2 / 3; } 
      .grid-item-4 { grid-area: 2 / 1 / 3 / 2; } 
      .grid-item-5 { grid-area: 2 / 2 / 3 / 3; }
    }
    .grid-style--bilateral {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr) var(--content-size);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      .grid-item-1 { grid-area: 1 / 1 / 3 / 3; } 
      .grid-item-2 { grid-area: 3 / 1 / 4 / 3; }  
    }
    .grid-style--bilateral-reverse {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr) var(--content-size);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      .grid-item-1 { grid-area: 3 / 1 / 4 / 3; } 
      .grid-item-2 { grid-area: 1 / 1 / 3 / 3; } 
    }
    .grid-style--trilateral {
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: repeat(3, 1fr); 
      grid-column-gap: 8px;
      grid-row-gap: 8px; 
      .grid-item-1 { grid-area: 1 / 1 / 2 / 2; } 
      .grid-item-2 { grid-area: 2 / 1 / 3 / 2; } 
      .grid-item-3 { grid-area: 3 / 1 / 4 / 2; } 
    }
  }
}