// Grid (Portfolio)

// Imports
@use '../abstracts/_color.scss' as *;
@use '../abstracts/_space.scss' as *;

.grid-system {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    width: 50%;
  } 
  .grid-image--square {
    min-height: 288px;
    margin: .5rem;
    // Default background
    background: $color-rouge--dim;
  }
  .grid-image--square:before {
    content: '';
    float:left;
    padding-top:100%;
  }
  .grid-image--landscape {
    min-height: 288px;
    width: 100%;
    overflow: hidden;
    // Default background
    background: $color-rouge--mid;
  }
  .grid-image--landscape:before {
    content: '';
    float:left;
    padding-top: 60%;
  }
  .grid-image--portrait {
    min-height: 288px;
    width: 100%;
    overflow: hidden;
    // Default background
    background: $color-rouge--mid;
  }
  .grid-image--portrait:before {
    content: '';
    float:left;
    padding-top: 150%;
  }
  .grid-type {
    height: auto;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3rem;
  }
  
  .grid-edge {
    padding-left: 0px;
  } 
  /* Flexbox Content Order */
  .p1 {
    order:1;
  }
  .p2 {
    order:2;
  }
  .p3 {
    order:3;
  }
  .p4 {
    order:4;
  }
  
  @media all and (max-width: 1023px) and (min-width: 0px) { 
      /* grid */
      .grid-system {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 718px;
        // Set spacing between items
        margin: 0px auto $space--80 auto;
      }    
      .grid-item {
        width: 100%;
      }
      .grid-image--square {
        order: 1;
      }
      .grid-type {
        margin-top: $space--40;
        order: 2;
        padding: 0px;
      }
   }