// Grid (Portfolio)

// Imports
@use '../abstracts/abstracts.scss' as *;

.grid-system {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .grid-item {
    width: 50%;
  } 
  .grid-image--square {
    min-height: 288px;
    margin: .5rem;
    // Default background
    background: $color-rouge--dim;
  }
  .grid-image--square:before {
    content: '';
    float:left;
    padding-top:100%;
  }
  .grid-image--landscape {
    width: 100%;
    overflow: hidden;
    // Default background
    background: $color-rouge--mid;
  }
  .grid-image--landscape:before {
    content: '';
    float:left;
    padding-top: 60%;
  }
  .grid-image--portrait {
    width: 100%;
    overflow: hidden;
    // Default background
    background: $color-rouge--mid;
  }
  .grid-image--portrait:before {
    content: '';
    float:left;
    padding-top: 150%;
  }
  .grid-type {
    padding: 3rem;
    height: auto;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .grid-edge {
    padding-left: 0px;
  } 
  /* Flexbox Content Order */
  .p1 {
    order:1;
  }
  .p2 {
    order:2;
  }
  .p3 {
    order:3;
  }
  .p4 {
    order:4;
  }
  
  @media all and (max-width: 1023px) and (min-width: 0px) { 
      /* grid */
      .grid-system {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 718px;
        // Set spacing between items
        margin: 0px auto $space--80 auto;
      }    
      .grid-item {
        width: 100%;
      }
      .grid-image--square {
        order: 1;
      }
      .grid-type {
        margin-top: $space--40;
        order: 2;
        padding: 0px;
      }
   }



   // * Home Grid
.interests-grid { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.interest-sq-1, .interest-sq-2, .interest-sq-3, .interest-sq-4, .interest-rec-1, .interest-rec-2 {
  display: flex;
}
.interest-sq-1 { 
  background-color: lightgreen;
  grid-area: 1 / 1 / 3 / 2; 
} 
.interest-sq-2 { 
  background-color: lightcoral;
  grid-area: 1 / 2 / 3 / 3; 
} 
.interest-sq-3 { 
  background-color: lightyellow;
  grid-area: 3 / 3 / 5 / 4; 
} 
.interest-sq-4 {
  background-color: lightblue;
  grid-area: 3 / 4 / 5 / 5;
}
.interest-rec-1 { 
  background-color: lemonchiffon;
  grid-area: 1 / 3 / 3 / 5; 
} 
.interest-rec-2 { 
  background-color: lightgray;
  grid-area: 3 / 1 / 5 / 3; 
} 
 