// Errors
@use '../abstracts/abstracts.scss' as *;

// * Header
header {
    max-width: 100vmin;
    // Main headers
    .error-headline {
        padding: 5rem 0rem 2.5rem 0rem;
    }
    .header-subheadline {
        // Spacing
        padding-bottom: 5rem;
    }
}
@media screen and (max-width: $breakpoint--medium-max) and (min-width: $breakpoint--medium-min) {
    header {
        width: 90vw;
        .error-headline {
            padding: 2.5rem 0rem 2rem 0rem;
        }
        .header-subheadline {
            padding-bottom: 2.5rem;
        }
    }
}
@media screen and (max-width: $breakpoint--small-max) and (min-width: $breakpoint--small-min) {
    header {
        width: 100%;
        .error-headline {
            padding: 2.5rem 0rem 1.5rem 0rem;
        }
        .header-subheadline {
            padding-bottom: 2.5rem;
        }
    }
}