// Breakpoints

// Large
$breakpoint--large-max: 1439px;
$breakpoint--large-min: 1024px;
// Medium
$breakpoint--medium-max: 1023px; 
$breakpoint--medium-min: 640px;
// Small
$breakpoint--small-max: 639px; 
$breakpoint--small-min: 0px;