// Color

// * Brand Colors
// Bleu
$color-bleu--base: #0E1317;
$color-bleu--dim: #1E2B38;
$color-bleu--mid: #1D3853;
$color-bleu: #308CE7;
// Gris
$color-gris--base: #7E7882;
$color-gris--dim: #B0AAB5;
$color-gris--mid: #DDDBE0;
$color-gris: #F8F8F8;
// Rouge
$color-rouge--base: #1A0808;
$color-rouge--dim: #4D1717;
$color-rouge--mid: #742020;
$color-rouge: #FF4C4C;
// Neutral
$color-black: #000000;
$color-gray--dim: #575757;
$color-gray--mid: #ABABAB;
$color-white: #FFFFFF;

// TODO: Add in more colors to the palette.
// Decorative Color Presets //
$col-aurelia: #DBC3BD;
$col-berta: #DCC9BB;
$col-cesar: #DAD1BC;
$col-dora: #DAD8BC;
$col-emit: #D6DBBC;
$col-fredie: #D0DCBD;
$col-gustav: #C8DABB;
$col-heinrich: #C1DBBD;
$col-ida: #BCDBC0;
$col-justin: #BDC6DB;
$col-kaufmann: #BDC6DB;
$col-lindsey: #BECDDC;
$col-mary: #BBD4DC;
$col-norbert: #BCDBDA;
$col-otto: #BBDBD4;
$col-paul: #BCDBCC;
$col-quail: #BDDAC6;
$col-rich: #C8BCDA;
$col-sean: #CFBDDB;
$col-teddy: #D6BDDB;
$col-ulrich: #DBBDD8;
$col-vinny: #DBBBD1;
$col-wilhelm: #DBBDCC;
$col-xochitl: #DCBDC4;
$col-yelle: #DBBDBC;
$col-zach: #DBC3BD;
.col-aurelia { background-color: $col-aurelia; }
.col-berta { background-color: $col-berta; }
.col-cesar { background-color: $col-cesar; }
.col-dora { background-color: $col-dora; }
.col-emit { background-color: $col-emit; }
.col-fredie { background-color: $col-fredie; }
.col-gustav { background-color: $col-gustav; }
.col-heinrich { background-color: $col-heinrich; }
.col-ida { background-color: $col-ida; }
.col-justin { background-color: $col-justin; }
.col-kaufmann { background-color: $col-kaufmann; }
.col-lindsey { background-color: $col-lindsey; }
.col-mary { background-color: $col-mary; }
.col-norbert { background-color: $col-norbert; }
.col-otto { background-color: $col-otto; }
.col-paul { background-color: $col-paul; }
.col-quail { background-color: $col-quail; }
.col-rich { background-color: $col-rich; }
.col-sean { background-color: $col-sean; }
.col-teddy { background-color: $col-teddy; }
.col-ulrich { background-color: $col-ulrich; }
.col-vinny { background-color: $col-vinny; }
.col-wilhelm { background-color: $col-wilhelm; }
.col-xochitl { background-color: $col-xochitl; }
.col-yelle { background-color: $col-yelle; }
.col-zach { background-color: $col-zach; }

$col-paper: #F1F0EE;
.col-paper { background-color: $col-paper; }

// * Branding 
.branding-seniorlink {
    background: 
        linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 97%),
        rgba(231, 245, 223, 1.00);
    color: rgba(16, 32, 8, 1.00);
}
.branding-chewy {
    background:
        linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 97%),
        rgba(214, 225, 249, 1.00);
    color: rgba(3, 20, 56, 1.00);
}
.branding-r149 {
    background:
        linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 97%),
        rgba(244, 244, 244, 1.00);
    color: rgba(49, 49, 49, 1.00);
}
.branding-ifactory {
    background:
        linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 97%),
        rgba(255, 222, 222, 1.00);
    color: rgba(50, 4, 10, 1.00);
}

// Semantic Color
// * Set the page background color default.
$backdrop: $color-bleu--base;
$backdrop-light: $color-white;
// * Set the main branding color default.
$brand: $color-rouge;

// TODO: Add in default system with prefers dark appearance.





// TODO: Clean this up
.logo--primary {
    filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(107deg) brightness(0%) contrast(105%);
}