// Space

// General definitions
$space--8: 8px;
$space--16: 16px;
$space--24: 24px;
$space--32: 32px;
$space--40: 40px;
$space--64: 64px;
$space--80: 80px;
$space--120: 120px;

// Leading
.leading--xs {
    margin-top: $space--16;
}
.leading--s {
    margin-top: $space--40;
}
.leading--m {
    margin-top: $space--64;
}
.leading--l {
    margin-top: $space--80;
}
.leading--xl {
    margin-top: $space--120;
}
.leading--200 {
    margin-top: 200px;
}

// Trailing
.trailing--xs {
    margin-bottom: $space--16;
}
.trailing--s {
    margin-bottom: $space--40;
}
.trailing--m {
    margin-bottom: $space--64;
}
.trailing--l {
    margin-bottom: $space--80;
}
.trailing--xl {
    margin-bottom: $space--120;
}
