// Space
@use '_breakpoints.scss' as *;

// General definitions
$space--8: 8px;
$space--16: 16px;
$space--24: 24px;
$space--32: 32px;
$space--40: 40px;
$space--64: 64px;
$space--80: 80px;
$space--120: 120px;

// Leading
.leading--xs {
    margin-top: $space--16;
}
.leading--s {
    margin-top: $space--40;
}
.leading--m {
    margin-top: $space--64;
}
.leading--l {
    margin-top: $space--80;
}
.leading--xl {
    margin-top: $space--120;
}
.leading--200 {
    margin-top: 200px;
}

// Trailing
.trailing--xs {
    margin-bottom: $space--16;
}
.trailing--s {
    margin-bottom: $space--40;
}
.trailing--m {
    margin-bottom: $space--64;
}
.trailing--l {
    margin-bottom: $space--80;
}
.trailing--xl {
    margin-bottom: $space--120;
}

@media screen and (max-width: $breakpoint--small-max) and (min-width: $breakpoint--small-min) {
    // Leading
    .leading--xs {margin-top: .5rem}
    .leading--s {margin-top: 1.25rem}
    .leading--m {margin-top: 2rem}
    .leading--l {margin-top: 2.5rem}
    .leading--xl {margin-top: 3.75rem}
    .leading--200 {margin-top: 6.25rem}
    // Trailing
    .trailing--xs {margin-bottom: .5rem}
    .trailing--s {margin-bottom: 1.25rem}
    .trailing--m {margin-bottom: 2rem}
    .trailing--l {margin-bottom: 2.5rem}
    .trailing--xl {margin-bottom: 3.75rem}
}