// Typography
@use '_color.scss' as *;
@use '_effects.scss' as *;

// Font Families
$serif: "AGaramondPro-Regular", 'Garamond', Georgia, serif ;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono: "Courier New", monospace;
// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$extrabold: 700;
$black: 900;
.style--light { font-weight: $light; }
.style--normal { font-weight: $normal; }
.style--semibold { font-weight: $semibold; }
.style--bold { font-weight: $bold; }
.style--extrabold { font-weight: $extrabold; }
.style--black { font-weight: $black; }
// Font Styles
$italic: italic;
$underline: underline;
$strike: line-through;
.style--italic { font-style: $italic; }
.style--underline { font-style: $underline; }
.style--strike { font-style: $strike; }
// Font Size
$size-xl: 5rem;
$size-l: 3rem;
$size-m: 1.75rem;
$size-s: 1rem;
$size-xs: .75rem;
// Font Size Numbered
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-22: 22px;
$size-32: 32px;
$size-40: 40px;
$size-56: 56px;
$size-64: 64px;
$size-80: 80px;
// Extras
::selection, ::-moz-selection {
    background-color: $color-rouge--mid;
    color: $color-rouge;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
// Alignments
$align--left: left;
$align--center: center;
$align--right: right;
.align--left { text-align: $align--left; }
.align--center { text-align: $align--center; }
.align--right { text-align: $align--right; }

// Defaults
body {
    font-family: $sans-serif;
    font-weight: $normal;
    font-size: $size-s;
    // Default Color on Dark Background
    color: $color-black;
}

// * General Heading Setup
// Headings
h1 {
    font-family: $serif;
    font-weight: $normal;
    font-size: $size-64;
    color: $brand;
    // Special Attributes
    letter-spacing: -3.2px;
    line-height: 4.125rem;
}
h2 {
    font-family: $serif;
    font-weight: $normal;
    font-size: $size-xl;
    // Special Attributes
    letter-spacing: -0.125rem;
    line-height: 5rem;
}
h3 {
    font-family: $serif;
    font-weight: $normal;
    font-size: $size-40;
    // Special Attributes
    letter-spacing: -0.109375rem;
    line-height: 3.125rem;
}
h4 {
    font-family: $serif;
    font-weight: $normal;
    font-size: $size-32;
    // Special Attributes
    letter-spacing: -0.075rem;
    line-height: 2.5rem;
}

// * Specific Heading Setup
.type--hero {
    font-size: $size-xl;
    font-weight: $normal;
    // Special Attributes
    letter-spacing: -3px;
    line-height: 5rem;
}
.type--headline {
    color: $color-gris--mid;
    font-size: $size-m;
    letter-spacing: -0.92px;
    line-height: 2.125rem;
}
.type--body {
    font-family: $serif;
    color: $color-gris--dim;
    font-size: $size-22;
    letter-spacing: -0.50px;
    line-height: 2rem;
}
.type--body .style--bold {
    font-weight: $bold;
    font-family: $sans-serif;
}
.type--caption {
    font-family: $sans-serif;
    font-weight: $semibold;
    color: $color-gris--dim;
    font-size: $size-14;
    letter-spacing: -0.025rem;
    line-height: 1.625rem;
}