// Navigation

@use '../abstracts/abstracts.scss' as *;
@use '../components/components.scss' as *;

nav {
    // Grid setup
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // Style
    margin-top: 5rem;
    .nav-logo, .nav-menu-button {
      z-index: 100;
    }
    .nav-logo {
        // Grid setup
        display: grid;
        grid-area: 1 / 1 / 2 / 2;
        align-content: center;
    }
    .nav-logo:hover {
        filter: invert(54%) sepia(7%) saturate(398%) hue-rotate(233deg) brightness(96%) contrast(81%);
        transform: scale(0.92);
    }
    .nav-logo:active {
        opacity: 0.80;
    }
    .nav-menu-button {
        grid-area: 1 / 2 / 2 / 3;
        place-self: end;
    }
    .nav-menu-button:after {
      content: "Menu";
    }
    .close-button, .close-button:hover, .close-button:active {
      background: rgba(0,0,0,1.00);
      color: rgba(255,255,255,1);
      box-shadow: unset;
    }
    .close-button:after {
      content: "Close";
    }
    .close-button:before {
      padding-right: 1rem;
      display: inline-block;
      font-size: 22px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00d";
    }
}

// * Navigation Overlay
.overlay {
    position: fixed;
    // Structure
    width: 100%;
    height: 100%;
    top: 0rem;
    left: 0;
    opacity: 0;
    // Initial visibility
    visibility: hidden;
    // Style
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    // Transition
    transition: opacity .35s, visibility .35s, height .35s;
    &.open { // Define open appearance
        opacity: 1;
        visibility: visible;
        overflow-x: hidden;
        height: 100%;
        // Background
        background: rgba(255,255,255,.9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        li {
            animation: fadeInRight 500ms ease forwards;
            animation-delay: 250ms;
                &:nth-of-type(2) {
                    animation-delay: 350ms;
                }
                &:nth-of-type(3) {
                    animation-delay: 450ms;
                }
            }
      }
    nav {
        position: relative;
    }
    ul {
        display: inline-block;
        position: relative;
        list-style: none;
        padding: 16rem 0rem 0rem 0rem;
        padding-left: 1.5rem;
        li {
            position: relative;
            opacity: 0;
            text-align: left;
            a {
                display: grid;
                transform: translate(0px, 0); 
                color: $color-black;
                font-family: $sans-serif;
                font-weight: 800;
                font-size: clamp(3rem, -1.1602rem + 10.4167vw, 5.5rem);
                letter-spacing: clamp(-0.04rem, -0.0566rem + 0.0417vw, -0.03rem);
                text-decoration: none;
            }
            a:hover {
                display: grid;
                color: $color-gray--dim;
                transform: translate(10px, 0); 
                font-family: $sans-serif;
                font-weight: 800;
            }     
            a, a:hover {
              -webkit-transition: $transition--500ms;
              -moz-transition: $transition--500ms;
              -ms-transition: $transition--500ms;
              -o-transition: $transition--500ms;
              transition: $transition--500ms;
            }
          }
      }
    }

.frozen-nav {
  position: sticky; 
  top: 80px;
}

@media screen and (min-width: 1240px) {
  .overlay {
    ul {
      padding-left: 0rem;
    }
  }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 2.5rem;
    }
    100% {
        opacity: 1;
        left: 0rem;
    }
}

@media screen and (max-width: $breakpoint--medium-max) and (min-width: $breakpoint--medium-min) {
    nav {
        margin-top: 1.5rem;
    }
    .overlay {
      ul {
        padding: 12rem 0rem 0rem 1.5rem;
      }
    }
}
@media screen and (max-width: $breakpoint--small-max) and (min-width: $breakpoint--small-min) {
    nav {
        margin-top: 1.5rem;
    }
    .overlay {
      ul {
        padding: 12rem 0rem 0rem 1.5rem;
      }
    }
    .frozen-nav {
      position: sticky; 
      top: 1.5rem;
    }
}

// * Section Navigation

.section-nav {
    list-style-type: none;
    padding-left: 0px;
    text-decoration: none;
    li {
      padding-bottom: 1.5rem;
      text-decoration: none;
      display: grid;
      // transform: translate(0px, 0); 
      min-width: 50%;
      a {
        text-decoration: none;
        color: $color-black;
      }
      a:hover {
        color: $color-gray--dim;
      }
    }
    li:hover {
      display: grid;
      transform: translate(.5rem, 0); 
    }
}


// * Skip to main content
a.skip-main {
    left:-999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}
a.skip-main:focus, a.skip-main:active {
    color: $color-black;
    background-color: $color-rouge;
    left: auto;
    top: auto;
    text-transform: uppercase;
    width: fit-content;
    height: auto;
    overflow: auto;
    margin-top: 8px;
    padding: 8px 16px;
    text-align:center;
    font-size: 1.25rem;
    font-family: $sans-serif;
    font-weight: $black;
    z-index: 999;
}

// * Animation and transitions
.nav-logo, .nav-logo:hover, .nav-logo:active, 
.section-nav a, .section-nav li, li:hover {
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
    -webkit-transition: $transition--500ms;
    -moz-transition: $transition--500ms;
    -ms-transition: $transition--500ms;
    -o-transition: $transition--500ms;
    transition: $transition--500ms;
}

