// Navigation

@use '../abstracts/abstracts.scss' as *;
@use '../components/components.scss' as *;

nav {
    // Grid setup
    display: grid; 
    grid-template-columns: 1fr 7fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // Style
    margin-top: 80px;
    .nav-logo-link {
        grid-area: 1 / 1 / 2 / 2;
        .nav-logo {
            place-self: center start;
            width: 3rem;
            }
    }
    .nav-menu-button {
        grid-area: 1 / 2 / 2 / 3;
        place-self: center end;
    }
}