// Structure

@use '../abstracts/abstracts.scss' as *;

// * Boundaries
.extend {
    flex: 0 0 auto;
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

// * Anchor Links
a.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

// * Smooth Scroll for Anchors
html {
    scroll-behavior: smooth;
}
:target:before {
    content: "";
    display: block;
    height: 5rem;
    margin: -5rem 0 0;
}

// * Text Width
.max-text-width {
    max-width: 64rem;
}
.readable-text-width {
    max-width: 56rem;
}
.compact-text-width {
    max-width: 48rem;
}
.caption-text-width {
    max-width: 32rem;
}

// * Rules
hr {
    border: 1px solid rgba(221, 219, 224, 1.00);
    border-radius: 4px;
    &.rule--s {border: 0.5rem solid rgba(221, 219, 224, 1.00);}
    &.rule--m {border: 1rem solid rgba(248, 248, 248, 1.00);}
    &.rule--l {border: 1.5rem solid rgba(248, 248, 248, 1.00);}
    &.rule--xl {border: 2.5rem solid rgba(248, 248, 248, 1.00);}
}